@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    @apply bg-white dark:bg-black;
  }

  h3 {
    @apply mb-4 pt-8 text-xl font-bold leading-snug text-black dark:text-white;
  }

  a {
    @apply no-underline;
  }

  a.inline-link {
    @apply font-bold text-black underline decoration-teal-500 decoration-2 underline-offset-4 transition ease-in-out hover:text-teal-500 dark:text-white;
  }

  a.nav {
    @apply text-black decoration-teal-500 decoration-4 underline-offset-[20px] transition ease-in-out hover:text-teal-600 dark:hover:text-teal-500 hover:underline dark:text-white;
  }

  a.nav[aria-current] {
    @apply underline decoration-teal-500 decoration-4 underline-offset-[20px] active:underline active:decoration-teal-500 active:decoration-4 active:underline-offset-[20px] text-teal-700 dark:text-teal-500;
  }

  p {
    @apply pb-4 text-neutral-700 dark:text-neutral-300;
  }

  ul {
    @apply ml-8 mb-4 list-disc text-gray-700 dark:text-gray-300;
  }

  ol {
    @apply ml-8 mb-4 list-decimal text-gray-700 dark:text-gray-300;
  }

  blockquote {
    @apply my-4 ml-4 border-l-4 border-neutral-200 italic dark:border-neutral-800;
  }

  blockquote p {
    @apply ml-4 text-neutral-500 dark:text-neutral-300;
  }

  pre {
    @apply mb-4 w-full overflow-x-scroll whitespace-pre rounded-lg bg-neutral-100 font-mono dark:bg-neutral-800;
  }

  pre > code {
    @apply bg-transparent font-mono;
  }

  code {
    @apply w-max rounded-lg bg-neutral-100 py-1 px-2 font-mono text-sm text-black dark:bg-neutral-800 dark:text-white;
  }

  code > span {
    @apply font-mono;
  }

  figcaption {
    @apply mt-2 italic text-neutral-700 dark:text-neutral-400;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  img {
    @apply rounded;
  }
}
